<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{i18n.NAME}} | {{i18n.TITLE}}</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
	<div id="top-bar">
		<h1 class="name"><a href="/">{{i18n.NAME}}</a> <span class="small">| {{i18n.TITLE}}</span></h1>
	</div>
 
 	<div id="content">
	    {{{body}}}
 	</div>
</body>
</html>