<div class="card darken-1">
    <div class="card-content question-content black-text">
        <h3 class="card-title black-text">
            {{#isCheckbox this.model.type}}
                <i class="material-icons medium card-type red-text text-lighten-2">poll</i>
            {{/isCheckbox}}

            {{#isNotCheckbox this.model.type}}
                <i class="material-icons medium card-type red-text text-lighten-2">people</i>
            {{/isNotCheckbox}}
            {{model.question}}
        </h3>


        {{#is this.model.hasAnswered false}}

            {{#unless config.isAdmin}}

                {{#is this.model.type 'mc'}}
                    <div class="row">
                        <div class="input-field nm-top col s12">
                            {{#each model.acceptedOptions}}
                                <p>
                                    <input type="radio"  name="question" id="mc-answer-{{model.id}}-{{value}}" value="{{value}}" class="mc-answer">
                                    <label for="mc-answer-{{model.id}}-{{value}}">{{value}}</label>    
                                </p>
                            {{/each}}
                        </div>
                    </div>
                {{/is}}

                {{#is this.model.type 'bool'}}
                    <div class="row">
                        <div class="input-field nm-top col s12">
                            <p>
                                <input type="radio" name="question" id="question-bool-true" value="true">
                                <label for="question-{{model.id}}bool-true">True</label>    
                            </p>
                            <p>
                                <input type="radio" name="question" id="question-bool-false" value="false">
                                <label for="question-{{model.id}}-bool-false">False</label>    
                            </p>
                        </div>
                    </div>
                {{/is}}

                {{#is this.model.type 'sa'}}
                    {{#is this.config.isAdmin false}}
                        <div class="row">
                            <div class="input-field nm-top col s12">
                                <p>
                                    <label for="question-{{model.id}}-sa">Your answer:</label>
                                    <input id="question-{{model.id}}-sa" name="question" type="text" >    
                                </p>
                            </div>
                        </div>
                    {{/is}}
                {{/is}}

                {{#is this.model.type 'go'}}
                    {{#is this.config.isAdmin false}}
                        <div class="row">
                            <div class="input-field nm-top col s12">
                                <p>
                                    <label for="question-sa">Your name:</label><input id="question-sa" name="question" type="text" >    
                                </p>
                            </div>
                        </div>
                    {{/is}}
                {{/is}}
                {{#unless this.config.isAdmin }}
                    <div class="row">
                        <div class="col s12">
                            <button class="btn red lighten-3 waves-effect waves- light submit-answer">submit</button>
                        </div>
                    </div>
                {{/unless}}
            {{/unless}}
        {{else}}
            {{#if this.model.assignedGroup}}
                Your Group: &quot;{{this.model.assignedGroup}}&quot;
            {{else}}
                <h6>you already participated</h6>
            {{/if}}
        {{/is}}
    </div>
</div>