<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{i18n.NAME}} | {{i18n.TITLE}}</title>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script>
    window.config = {};
    window.config.room = '{{ session.id }}';
    window.config.url = '{{ url }}';
    window.config.isAdmin = {{isAdmin}};
    </script>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper {{adminColor isAdmin}} lighten-2">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <div class="session">Session: {{ session.id }}</div>
                        </div>
                    </div>
                </div>
                
                <ul class="right right-menu">
                    <li>
                        <a href="#" data-activates="more-dropdown" class="dropdown-button"><i class="material-icons">more_vert</i></a>
                    </li>
                </ul>
            </div>
            <ul id="more-dropdown" class="dropdown-content">
                <li>
                    <span class="user-count-view"></span>
                </li>
                <li class="divider"></li>
            </ul>
        </nav>
    </div>
    <div id="content" class="session container">
        {{{body}}}
        <div id="app">
            <div id="left-nav">
                {{#if isAdmin}}
                <div class="fixed-action-btn create-question" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large red">
                        <i class="large material-icons">mode_edit</i>
                    </a>
                </div>
                {{/if}}
                <div id="question-list-view"></div>
            </div>
            <div id="main">
                <div id="create-question-view"></div>            
                <div id="show-question"></div>
            </div>
            <div class="cf"></div>
        </div>
    </div>
    <script src="/js/build/bundle.js"></script>
    <script src="/js/vendor/chart.js"></script>
    <script src="/js/vendor/materialize.js"></script>
</body>
</html>
